header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-around;
  padding: 10px
}

.navigation-item {
  margin: 0px 15px;
}
