.details-container {
  display: flex;
  flex-flow: column nowrap;
}

.fav-checkbox-container {
  width: 10%;
  align-self: center;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
}

#details-pokemon-gif {
  width: 100px;
  align-self: center;
}

#Electric {
  background-color: rgba(255, 255, 0, 0.6);
  border: 2px rgb(255, 255, 0) solid;
}

#Fire {
  background-color: rgba(255, 0, 0, 0.6);
  border: 2px rgb(255, 0, 0) solid;
}

#Bug {
  background-color: rgba(0, 255, 0, 0.6);
  border: 2px rgb(0, 255, 0) solid;
}

#Poison {
  background-color: rgba(255, 0, 255, 0.6);
  border: 2px rgb(255, 0, 255) solid;
}

#Psychic {
  background-color: rgba(200, 200, 200, 0.6);
  border: 2px rgb(200, 200, 200) solid;
}

#Dragon {
  background-color: rgba(255, 200, 0, 0.6);
  border: 2px rgb(255, 200, 0) solid;
}

#Normal {
  background-color: rgba(150, 150, 150, 0.6);
  border: 2px rgb(150, 150, 150) solid;
}
